.btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: $btn-font-size;
    border-radius: $btn-border-radisu;
    padding: $btn-padding-y $btn-padding-x;
    transition: all 0.2s ease-in-out;
}

@each $key, $value in $theme-colors {
    .btn-#{$key} {
        @include button-variant($value);
    }

    .btn-outline-#{$key} {
        @include button-outline-variant($value);
    }
}

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
    0% {
        width: 0%;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
