@use './variables' as *;

.modal:not(.show) {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1000;
    // padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: $modal-backdrop-bg;
    background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
}

.modal-dialog {
    background-color: $white;
    margin: auto;
    padding: $modal-inner-padding;
    border: 1px solid $gray-300;
    border-radius: 0.5rem;
    max-width: 90vw;

    // transition: $modal-transition;
    -webkit-animation-name: modal-slide-top;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-slide-top;
    animation-duration: 0.5s;
}

@-webkit-keyframes modal-slide-top {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes modal-slide-top {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    padding: $modal-header-padding;
    display: flex;
    justify-content: space-between;
}

.modal-title {
    line-height: $modal-title-line-height;
}

.modal-body {
    border-top: $modal-content-border-width solid $modal-content-border-color;
    border-bottom: $modal-content-border-width solid $modal-content-border-color;
    padding: $modal-inner-padding;
    line-height: $line-height-base;
}

.modal-footer {
    margin: $modal-footer-margin-between;
}

@each $key, $value in $grid-breakpoints {
    @media (min-width: $value) {
        .modal-dialog {
            max-width: map-get($modal-widths, $key);
        }
    }
}
