$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$light: #f8f9fa;
$dark: #343a40;

$primary-light: #4791db;
$secondary-light: #e33371;
$success-light: #81c784;
$danger-light: #e57373;
$warning-light: #ffb74d;
$info-light: #64b5f6;
// $light-light: #f8f9fa;
// $dark-light: #343a40;

$primary-main: #1976d2;
$secondary-main: #dc004e;
$success-main: #4caf50;
$danger-main: #f44336;
$warning-main: #ff9800;
$info-main: #2196f3;
// $light-main: #f8f9fa;
// $dark-main: #343a40;

$primary-dark: #115293;
$secondary-dark: #9a0036;
$success-dark: #388e3c;
$danger-dark: #d32f2f;
$warning-dark: #f57c00;
$info-dark: #1976d2;
// $light-dark: #f8f9fa;
// $dark-dark: #343a40;

$theme-colors-light: (
    "primary": $primary-light,
    "secondary": $secondary-light,
    "success": $success-light,
    "danger": $danger-light,
    "warning": $warning-light,
    "info": $info-light,
    "light": $light,
    "dark": $dark,
);

$theme-colors-main: (
    "primary": $primary-main,
    "secondary": $secondary-main,
    "success": $success-main,
    "danger": $danger-main,
    "warning": $warning-main,
    "info": $info-main,
    "light": $light,
    "dark": $dark,
);

$theme-colors-dark: (
    "primary": $primary-dark,
    "secondary": $secondary-dark,
    "success": $success-dark,
    "danger": $danger-dark,
    "warning": $warning-dark,
    "info": $info-dark,
    "light": $light,
    "dark": $dark,
);

$link-color: $primary-main;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer / 4,
    2: $spacer / 2,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

$position-values: (
    0: 0,
    50: 50%,
    100: 100%,
);

$gradient: linear-gradient(180deg, rgba($white, 0.15), rgba($white, 0));

$grid-cols: 12;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);

$border-width: 1px;
$border-style: solid;
$border-color: #ccc;
$border-radius-base: 0.5rem;

$font-family: sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;
$input-font-size: $font-size-base;
$input-border-color: $border-color;
$input-border-radius: $border-radius-base;
$input-box-shadow: 0px 0px 7px 0px $primary-main;

$btn-padding-y: 0.25rem;
$btn-padding-x: 1rem;
$btn-font-size: $input-font-size;
$btn-border-radius: $input-border-radius;
$btn-font-weight: $font-weight-base;
$btn-ripple-size: 15rem;
$btn-box-shadow: $input-box-shadow;

$navbar-fg-color: $black;
$navbar-bg-color: $white;
$navbar-padding-y: 0.5rem;
$navbar-font-size: $font-size-base + 0.25;
$navbar-brand-padding-y: 0.3125rem;
$navbar-brand-margin-x: 1rem;
$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-padding-y: 0.25rem;
$nav-link-padding-x: 1rem;
$nav-link-padding-y: 0.5rem;

$dropdown-padding-x: 1rem;
$dropdown-padding-y: 0.5rem;
$dropdown-border-radius: $border-radius-base;

$modal-inner-padding: $spacer;
$modal-footer-margin-between: 1rem;
$modal-margin: 0.5rem;
$modal-title-line-height: $line-height-base;
$modal-content-border-color: $gray-300;
$modal-content-border-width: $border-width;
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.5;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility
$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;
$modal-widths: (
    sm: $modal-sm,
    md: $modal-md,
    lg: $modal-lg,
    xl: $modal-xl,
);
$modal-fade-transform: translate(0, -50px);
$modal-show-transform: none;
$modal-transition: 0.3s ease-out;
$modal-scale-transform: scale(1.02);
