.btn {
    display: inline-block;
    overflow: hidden;
    position: relative;

    font-size: $btn-font-size !important;
    font-weight: $btn-font-weight !important;

    border-radius: $btn-border-radius;
    box-sizing: content-box !important;
    padding: $btn-padding-y $btn-padding-x;

    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;

    min-height: 0 !important;
    vertical-align: middle;
    line-height: 1.3;
}

@each $key, $value in $theme-colors {
    .btn-#{$key} {
        @include button-variant($value);
    }

    .btn-outline-#{$key} {
        @include button-outline-variant($value);
    }
}

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
    0% {
        width: 0%;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: $btn-ripple-size;
        height: $btn-ripple-size;
        opacity: 0;
    }
}
