.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    outline: none;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
}

.form-control:focus {
    box-shadow: $input-box-shadow;
}
