.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $navbar-bg-color;
    padding: $navbar-padding-y 0;
}

.navbar > .container-fluid,
.navbar > .container {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: $navbar-fg-color;
    padding: $navbar-brand-padding-y 0;
    margin-right: $navbar-brand-margin-x;
    font-size: $navbar-font-size;
}

.navbar-toggler {
    border: none;
    background: inherit;
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    font-size: $navbar-font-size;
}

.navbar-collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.nav-link {
    color: $navbar-fg-color;
    display: block;
    padding: $nav-link-padding-y 0;
}

// .navbar-brand,
// .nav-link {
//     transition: 0.3s ease;

//     &:hover,
//     &:focus {
//         opacity: 0.6;
//     }
// }

@each $key, $value in $container-max-widths {
    @media (min-width: $value) {
        .navbar-expand-#{$key} {
            flex-wrap: nowrap;
            justify-content: start;
        }

        .navbar-expand-#{$key} .navbar-toggler {
            display: none;
        }

        .navbar-expand-#{$key} .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-#{$key} .navbar-nav {
            flex-direction: row;
        }

        .navbar-expand-#{$key} .nav-link {
            padding: 0 $nav-link-padding-x / 2;
        }
    }
}
