// sass-docs-start theme variables
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffff;
$black: #000000;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
) !default;
// sass-docs-end theme variables

// sass-docs-start layouts variables
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer / 4,
    2: $spacer / 2,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
) !default;

$grid-cols: 12;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
) !default;
// sass-docs-end layouts variables

// sass-docs-start border variables
$border-color: #ccc;
$border-radius-base: 0.5rem;
// sass-docs-end border variables

// sass-docs-start font variables
$font-lobster: "Lobster Two", cursive !default;
$font-pacifico: "Pacifico", cursive !default;
$font-family-ubuntu: Ubuntu;
$font-family: $font-family-ubuntu;
$font-size-base: 1rem;
// sass-docs-end font variables

// sass-docs-start input variables
$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;
$input-font-size: $font-size-base * 0.95;
$input-border-color: $border-color;
$input-border-radius: $border-radius-base;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0px 8px rgba(192, 192, 192, 0.6);
// sass-docs-end input variables

// sass-docs-start button variables
$btn-padding-y: 0.25rem;
$btn-padding-x: 1rem;
$btn-font-size: $input-font-size;
$btn-border-radius: $input-border-radius;
$btn-font-weight: 500;
$btn-ripple-size: 15rem;
$btn-box-shadow: $input-box-shadow;
// sass-docs-end button variables

// sass-docs-start navbar variables
$navbar-fg-color: $black;
$navbar-bg-color: $white;
$navbar-padding-y: 0.5rem;
$navbar-font-size: $font-size-base + 0.25;

$navbar-brand-padding-y: 0.3125rem;
$navbar-brand-margin-x: 1rem;

$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-padding-y: 0.25rem;

$nav-link-padding-x: 1rem;
$nav-link-padding-y: 0.5rem;
// sass-docs-end navbar variables

// sass-docs-start dropdown variables
$dropdown-padding-x: 1rem;
$dropdown-padding-y: 0.5rem;
$dropdown-border-radius: $border-radius-base;
// sass-docs-end dropdown variables
