// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// sass-docs-start theme variables
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
) !default;
// sass-docs-end theme variables

// sass-docs-start anchor variables
$link-color: $primary !default;
$link-decoration: none !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: underline !default;
// sass-docs-end anchor variables

// sass-docs-start spacers variables
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer / 4,
    2: $spacer / 2,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
) !default;
// sass-docs-end spacers variables

// scss-docs-start variable-gradient
$gradient: linear-gradient(
    180deg,
    rgba($white, 0.15),
    rgba($white, 0)
) !default;
// scss-docs-end variable-gradient

$grid-cols: 12;

// sass-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;
// sass-docs-end grid-breakpoints

// sass-docs-end container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
) !default;
// sass-docs-end container-max-widths

// sass-docs-start border variables
$border-width: 1px !default;
$border-style: solid !default;
$border-color: #ccc !default;
$border-radius-base: 0.5rem !default;
// sass-docs-end border variables

// sass-docs-start font variables
$font-lobster: "Lobster Two", cursive !default;
$font-pacifico: "Pacifico", cursive !default;
$font-family-ubuntu: Ubuntu !default;
$font-family: $font-family-ubuntu !default;
$font-size-base: 1rem !default;
$font-weight-base: 400 !default;
// sass-docs-end font variables

// sass-docs-start input variables
$input-padding-y: 0.375rem !default;
$input-padding-x: 0.75rem !default;
$input-font-size: $font-size-base !default;
$input-border-color: $border-color !default;
$input-border-radius: $border-radius-base !default;
$input-box-shadow: 0px 0px 7px 0px $primary !default;
// $input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
//     0 0px 8px rgba(192, 192, 192, 0.6) !default;
// sass-docs-end input variables

// sass-docs-start button variables
$btn-padding-y: 0.25rem !default;
$btn-padding-x: 1rem !default;
$btn-font-size: $input-font-size !default;
$btn-border-radius: $input-border-radius !default;
$btn-font-weight: $font-weight-base !default;
$btn-ripple-size: 15rem !default;
$btn-box-shadow: $input-box-shadow !default;
// sass-docs-end button variables

// sass-docs-start navbar variables
$navbar-fg-color: $black !default;
$navbar-bg-color: $white !default;
$navbar-padding-y: 0.5rem !default;
$navbar-font-size: $font-size-base + 0.25 !default;

$navbar-brand-padding-y: 0.3125rem !default;
$navbar-brand-margin-x: 1rem !default;

$navbar-toggler-padding-x: 0.75rem !default;
$navbar-toggler-padding-y: 0.25rem !default;

$nav-link-padding-x: 1rem !default;
$nav-link-padding-y: 0.5rem !default;
// sass-docs-end navbar variables

// sass-docs-start dropdown variables
$dropdown-padding-x: 1rem !default;
$dropdown-padding-y: 0.5rem !default;
$dropdown-border-radius: $border-radius-base;
// sass-docs-end dropdown variables
