@mixin make-container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

@mixin button-variant($color) {
    background: $color;
    border: 1px solid $border-color;
    @if $color == $warning or $color == $info {
        color: $black;
    } @else {
        color: $white;
    }

    &:hover {
        // box-shadow: 0 2px 5px rgba($color, 0.4);
        background: darken($color, $amount: 5%);
    }
}

@mixin button-outline-variant($color) {
    border: 1px solid $border-color;
    background: inherit;
    color: $color;

    &:hover {
        @include button-variant($color);
    }
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
