<div class="bg-light my-3">
    <div class="dropdown">
        <a
            class="btn btn-primary icon angle-down"
            href="#"
            data-toggle="dropdown"
        >
            Dropdown link
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>
